# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode/
.git/
.idea/
.DS_Store

build/

*.objcache

*local_test.go

pkgcls.go

*.a
*.o

# main/
